<a class="navbar-brand" href="#">Skooli</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Teachers</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <!-- toggle the buttons: If the student is logged in a Sign Out button should show instead -->
    <a class="my-2 my-sm-0"  data-toggle="modal" data-target="#exampleModal">Create Student &nbsp; &nbsp;</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
  </form>
</div>
